#about_page {
    margin-top: 50px;
    scroll-margin-top: 100px;
    /* background-color: pink; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.about-container {
    flex: 0 0 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* z-index: 20;
    background-color: pink; */
    /* min-width: 70vw; */
    /* min-width: 800px; */
}

.about-subheader {
    font-weight: bold;
    /* font-size: 2.2em; */
    color: var(--text-color);
    margin: 20px 0;
    left: 0;
}

.about-summary{
    font-size: 1.2em;
    line-height: 1.4;
    margin: 20px;
    text-align: left;
    /* width: ; */
}

/* TODO: for self, fix the spacing between them and the growth */

.about-skills-section{
  /* justify-content: space-around; */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: 475px;
    /* margin: 20px auto; */
    padding: 20px;
    margin: 20px;
    /* background-color: var(--background2-color); */
    /* opacity: 20%; */
    gap: 20px;
    border-radius: 10px;
}

.about-skills-subsection{
    opacity: 100;
    width: 100%;
    /* border: 1px solid var(--text-color); */
    border-radius: 8px;
    padding: 5px 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 6px 8px -4px var(--background2-color);

    flex-wrap: wrap;
}

@media (max-width: 900px) {
  #about_page {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .about-container, .about-skills {
    min-width: 0;
    width: 90vw;
    margin: 10px 0;
    padding: 16px;
  }
}

.about-skills-group{
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  align-items: start;
}

.about-skills-group > h3 {
    font-weight: bold;
    color: var(--text-color);
    margin: 10px 0;
}

.about-skill {
  font-size: 0.9em;
  color: var(--text-color);
  padding: 2px 6px;
  box-shadow: 1px 2px 2px 0px var(--accent2-color);
  /* border: 1px solid var(--accent2-color); */
  background-color: var(--background2-color);
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* TODO: fix colors, too many clashing */

.about-skill:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: none;
    /* box-shadow: 1px 2px 2px 0px var(--accent-color); */
}